@using Microsoft.AspNetCore.Authorization
@using AlloyTicketClient.Models
@using Microsoft.AspNetCore.Components
@using AlloyTicketClient.Components.Fields
@using AlloyTicketClient.Enums
@using AlloyTicketClient.Services
@using AlloyTicketClient.Components.Forms

@page "/request"
@attribute [Authorize]

<PageTitle>Request</PageTitle>

@if (dynamicPage != null)
{
    <div class="request-setup-container">
        <h1 class="request-setup-title">@dynamicPage.HeaderText</h1>
        <div class="request-setup-subtitle">@dynamicPage.PageText</div>
        <div class="request-setup-help"><em>@dynamicPage.SubText</em></div>
        <div class="request-setup-buttons">
            @foreach (var btn in dynamicPage.Buttons)
            {
                <button class="request-btn add-btn" @onclick="async () => await ShowDynamicButtonAsync(btn)">@btn.Name</button>
            }
        </div>
    </div>
}

@if (dynamicPage != null)
{
    <RequestForm Show="showFormModal" Title="@formModalTitle" Payload="@formModalPayload" OnClose="CloseFormModal" />
}
